* {
    box-sizing: border-box;
    margin: 10px 5px;
}

#item1 {
    background-color: burlywood;
}

#item2 {
    background-color: black;
}

#item3 {
    background-color: rebeccapurple;
}

.circle {
    border-radius: 50%;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

#item1, #item2, #item3 {
    border: 2px solid green;
    opacity: .7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

section div ul .text {
    color: aqua;
}

section div ul .text1 {
    font-style: italic;
}

section div ul .text2 {
    font-weight: bold;
}

section div ul .text3 {
    opacity: .6;
}

section div ul .text4 {
    color: blueviolet;
}

.paragraph > p{
    color: blue;
}

.first__circle:hover {
    opacity: .5;
    cursor: pointer;
    border: 3px solid coral;
}

a:first-child {      
    color: green;
    font-style: italic;
    text-transform: uppercase;
}

a:last-child {       
    color: red;
    text-decoration: underline;
}

a:only-child {
    color: aquamarine;
    opacity: .7;
}

:checked + span {
    color: violet;
    font-weight: bold;
    font-style: italic;
}

input:invalid {
    border: 2px solid violet;
    background-color: rgb(150, 190, 161);
}

input:valid {
    border: 2px solid blue;
}

.lorem::first-letter { 
    color:red; font-size: 25px;
}

.lorem::first-line { 
    font-size: 20px;
}

p[data-type="active"] {
    color: aqua;
}

article p {
    background-color: yellow;
}

.art_p {
    background-color: beige;
}

#some__text {
    background-color: blueviolet;
}